/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --dark-blue: #4AB0ED;
    --medium-blue: #A2D2EB;
    --light-blue: #A9EFF5;
    --bluish-green: #A6DFD4;
    --light-green: #A9F5D0;
    --medium-green: #A2EBB3;
    --dark-green: #4AED75;
    --white: #fff;
    --light-grey: #f1f1f1;
    --off-white: #E1F3FA;
    --black: #000;
    --dark-blush: #91604E;
    --light-blush: #DEB4A4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

p, 
a, 
span {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
}

.project-container {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(125px, 150px));
    grid-template-rows: repeat(12, 100px);
}

.side-menu {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
    grid-row: 1 / span 12;
    background-color: var(--medium-blue);
    padding: 5% 10%;
}

.side-menu li {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 6%;
}

.header-sidemenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10% 0;
    color: var(--white);
}

.header-sidemenu img {
    width: 24px;
    height: auto;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: 3 / span 10;
    grid-row: 1 / span 2;
    background-color: var(--off-white);
    padding: 3%;
}

.top-bar-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    /* display: flex;
    justify-content: space-around; */
    margin-bottom: 5%;
}

.top-bar-2 {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: space-around;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: repeat(12, 50px);
    grid-column: 3 / span 10;
    grid-row: 3/ span 10;
    padding: 2%;
    background-color: var(--light-grey);
}

#your-projects-header {
    grid-column: 1 / span 10;
    grid-row: 1 / span 1;
    margin-left: 5%;
    display:flex;
    align-items: center;
}

.projects-col-1 {
    grid-column: 1 / span 5;
    grid-row: 2 / span 11;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.projects-col-2 {
    grid-column: 6 / span 5;
    grid-row: 2 / span 11;
    display: flex;
    flex-direction: column;
}

.cards {
    background-color: var(--white);
    padding: 10%;
    margin: 5% 10%;
    box-shadow: 5px 4px 4px 0 rgba(0,0,0, .25);
    border-radius: 25px;
    border-left: 6px solid var(--dark-blush);
}

.cards h4 {
    padding-bottom: 5%;
}

.cards p {
    padding-bottom: 10%;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-icon {
    padding-right: 2%;
}

.cards img {
    width: 36px;
    height: auto;
}

.projects-sidebar {
    grid-column: 11 / span 2;
    grid-row: 1 / span 12;
}

.cards p {
    font-size: .9rem;
}